<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<th:block th:insert="fragments/header.html :: css" />

<body th:style="'background: url(https://img3.goodfon.ru/original/1920x1080/e/f3/barrett-m82-samozaryadnaya-2610.jpg) no-repeat center center fixed;'">

<th:block th:insert="fragments/navBar.html :: navBar" />
<p><font size="1" color="white"  >Make your</font>  <font size="1" color="red" >choice,</font><font size="1" color="white" > buy AWP</font> </p>



<th:block th:insert="fragments/scripts.html :: js" />

</body>
</html>